$headerHeight: 7vh;

$textColor: white;
$backgroundColor: #343a40 !important ;

html {
  background-color: $backgroundColor;
}

header {
  height: $headerHeight;
  background-color: $backgroundColor;
}

main {
  background-color: $backgroundColor;
  color: $textColor;
}

.nav-link {
  color: $textColor;
}

a {
  color: $textColor !important;
  text-decoration: none;
  &:hover {
    color: $textColor !important;
  }
}
